/* ========== FREE MATERIAL SECTION ========== */

.material-section{
    padding: 80px 0;
    box-shadow: 0px 4px 4px 0px #00000005;
    background: linear-gradient(180deg, #F5FFF7 0%, rgba(245, 255, 247, 0) 100%);
}

.material-badge {
    width: fit-content;
    background-color: #C6AD2E;
    color: var(--bg-white);
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.material-image {
    flex-shrink: 0;
    width: 280px;
    height: 232px;
    border-radius: 12px;
    overflow: hidden;
}

.material-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}